{% extends "base.html" %}{% block title %}Log In{% endblock %}
{% block content %}

<!-- Add login form below here -->
<br>
<div class="container">
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
            {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissable fade show" role="alert">
                    {{message}}
                    <buton class="close" type="button" data-dismiss="alert" >
                        <span aria-hidden="true" >&times;</span>
                    </buton>
                </div>
            {% else %}
                <div class="alert alert-success alert-dismissable fade show" role="alert">
                    {{message}}
                    <buton class="close" type="button" data-dismiss="alert" >
                        <span aria-hidden="true" >&times;</span>
                    </buton>
                </div>
            {% endif %}
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="row vh justify-content-center">
        <div class="col-md-5">
            <div class="row justify-content-center mb-6">
            </div>
            <form action="" id="signin" method="post">
                <div class="mb-6 form-group">
                    <label for="email" class="form-label"> Email Adress</label>
                    <input type="email" class="form-control" name="email" id="email" aria-describedby="emailhelp">
                </div>
                <div class="mb-6">
                    <label for="password" class="form-label" > Password</label>
                    <input type="password" class="form-control" name="password" id="password">
                </div>
                <br>
                <button type="submit" class="btn btn-success w-100">Login</button>
            </form>
        </div>
    </div>
</div>

<!-- Add login form above here -->

{% endblock %}